[Desktop Entry]
Name=Starcmd
GenericName=Starcmd
Comment=Command Browser
Categories=GTK
Icon=starcmd
Exec=/usr/bin/org.h010dev.StarCMD
Terminal=false
Type=Application
