[Desktop Entry]
Name=StarCMD
GenericName=StarCMD
Comment=Command Browser
Categories=GTK
Icon=org.h010dev.StarCMD
Exec=/usr/bin/org.h010dev.StarCMD
Terminal=false
Type=Application
